%fieldset
  %legend
  .control-group
    = f.label :name, t(".name"), :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :phonetic_name, t(".phonetic_name"), :class => 'control-label'
    .controls
      = f.text_field :phonetic_name, :class => 'text_field'
  .control-group
    = f.label :hometown, t(".hometown"), :class => 'control-label'
    .controls
      = f.text_field :hometown, :class => 'text_field'
  .control-group
    = f.label :blog, t(".blog"), :class => 'control-label'
    .controls
      = f.text_field :blog, :class => 'text_field'
  .control-group
    = f.label :comment, t(".comment"), :class => 'control-label'
    .controls
      = f.text_field :comment, :class => 'text_area'
  .form-actions
    = f.submit t("common.update"), :class => 'btn btn-primary'
    = link_to t("common.cancel"), settings_profile_path, :class => 'btn'
