.row
  .span1
    = image_tag @profile.user.image
  .span6
    %label= @profile.name
    = link_to(@profile.user.talk.title, settings_talk_path)
  .span2

.row
  .span9
    %label{:class => "label"}= t(".phonetic_name") + ":"
    %p= @profile.phonetic_name
    %label{:class => "label"}= t(".age") + ":"
    %p= @profile.age
    %label{:class => "label"}= t(".hometown") + ":"
    %p= @profile.hometown.text
    %label{:class => "label"}= t(".attend_parties") + ":"
    %p= @profile.attend_parties? ? t(".attend") : t(".not_to_attend")
    %label{:class => "label"}= t(".blog") + ":"
    %p= @profile.blog
    %label{:class => "label"}= t(".comment") + ":"
    %p= @profile.comment

    .form-actions
      = link_to t("common.edit"), edit_settings_profile_path, :class => 'btn btn-primary'
      = link_to t("common.participation_cancel"), settings_profile_path, :method => :delete, :class => 'btn btn-danger', :confirm => t(".confirm")
