%label{:class => "label"}= t(".name") + ":"
%p= @profile.name
%label{:class => "label"}= t(".phonetic_name") + ":"
%p= @profile.phonetic_name
%label{:class => "label"}= t(".hometown") + ":"
%p= @profile.hometown
%label{:class => "label"}= t(".blog") + ":"
%p= @profile.blog
%label{:class => "label"}= t(".comment") + ":"
%p= @profile.comment

.form-actions
  = link_to "Edit", edit_settings_profile_path, :class => 'btn'
